Support for other stem file formats

### Feature Description

Currently in the upcoming 2.6 Mixxx supports stems using Native Instrument's format based on MPEG-4 files containing AAC, AACLC, or ALAC. I've been working on a way for DJ software to support stems using other audio formats, specifically Opus and FLAC (but others could be implemented as well depending on the Mixxx communities needs), using the Matroska audio container which is commonly used in the archival world. I'm getting to the point where the format is ready to use, and am looking for projects that might be willing to implement it as a way to provide feedback before moving the draft forward in the standardization process. I'm not sure that this is even something that Mixxx would be interested in given that the existing stem support is relatively new and adding another format could complicate things, but I'd love to get some feedback from the developers either way and as I use Mixxx heavily (and it's really the only DJ software that has an open development process) I'd love for you to consider supporting it.

The current version of the format can be found here: https://datatracker.ietf.org/doc/draft-swhited-mka-stems/

If you're curious to play around with one of the files, I've made a tool that converts the Native Instruments formats (so that you can use their sample files) here: https://codeberg.org/SamWhited/mkastem

This would likely require #16060 to be completed first.

Thank you for your consideration, and if anyone would like to provide feedback out of band or chat please reach out!

### FAQs

#### Why not just use the Native Instruments format?

The main reason is that the Native Instruments format is patent encumbered. While this likely won't affect most DJs who are just downloading and playing back stem files, it can affect you if you're a producer exporting your music as a stem file and selling it. Right now the amount of money you'd have to make before you'd be required to license the files is rather high, but they can change that at any time, making it risky to sell your stem files. There are also other groups that own patents related to the codecs used in the container who could decide at any moment to start requiring a license for use. This may never be a problem, but I feel that it's worth having an alternative available just in case. Matroska, FLAC, and Opus all either are not known to use any element that's patented or (in the case of Opus) have large patent pools that grant use and have guarantees that the agreement can't be changed in the future.

*EDIT based on discussion below:*

Even if it turns out all the patents for the various technologies used in the NI format have expired, the format still requires a proprietary DSP that must be licensed from Native Instruments. Mixxx has a cleanroom implementation that does not use this DSP (which is likely incompatible with the GPL and can't be used even if we were comfortable with it), but it would still be ideal to have a community created version of the format backed by a reputable standards body (eventually. the current draft is just a draft and has not been reviewed by the IETF) that does not rely on the good graces of a single company. That is what I'm hoping to create here (with your help and feedback, hopefully!)


#### Why not use Ogg?

Ogg is great, but doesn't have a way to store metadata that points to a particular track unless the underlying codec has a way to store metadata (ie. the FLAC and Opus mappings have their own separate metadata, the WAV mapping doesn't). So if you wanted stems you'd be limited in the file formats you can use in the container. Even for tracks where each track can have its own separate metadata, there's no way to store metadata pertaining to the whole file (most taggers just use the first track to mean this). It all gets a bit confusing very fast. It also has very slow seeking because it doesn't contain an index. This is fine for local files where Mixxx could pre-compute seek points, but is likely more work to implement and doesn't work for internet streams where seeking just becomes extremely slow. Finally, there's no way to detect what types of audio are in an Ogg file without actually knowing how to parse the codec already. This isn't the end of the world, but it's nice to be able to know if you're going to be able to play a file up front without having to do some kind of extra detection on it to see if the underlying stream it's giving you is decodeable.

#### Why MKA/Opus and MKA/Flac?

These are just my personal preferences and are not known to be patent-encumbered so they're what I was requesting internal support for. Other formats could be added with fairly minimal effort and neither of these is required by the spec if something else works better for the Mixxx community.

Mixxx is a FOSS project that allows to do such things "DJ yourself". It all depends if there is a contributor and a reviewer that are willing to push the quality to a certain level that it can be merged. 

Establishing a "real free" stem format without closed DSP features, is a good idea in general. There is the downside legendary visualized here: https://xkcd.com/927/ But we suffer it already with so many decoder and container formats. 

Mixxx currently has the issue that it does not really support container formats. It was designed for mp3 and WAV.  Every container and codec pair is hard coded, this bites us already with the OGG container. Where only some streams are supported. The current NI stem implementation has solved this in the local scope but a more general container handling would be better.  

Just read your https://datatracker.ietf.org/doc/draft-swhited-mka-stems/ and we have the chance to not repeat the issues the NI Stems have. In some point we need to be more strict and not just "RECOMMENDED". If that is not desired we may add flags/properties that Mixxx can find out if it is a strict stem format or just a random container that is almost like a stem.  

**1. Sample compatibility.** 

It shall be a strict requirement that any channel has exactly the same number of samples and sample-rate. 

**2. Diff compatibility**  

Do you know how stereo signal is encoded in the UKW signal? It has two channels: 
* Mono (L+R) 
* Stereo Diff (L-R) 
L = Mono + Stereo Diff
R = Mono - Stereo Diff

We may require the same for the stem channels in the new format. This will solve the following problem:

Currently with NI stems 
Stereo (ch1) != Vocals + Drums + Bass + Other
Because of the proprietary DSP parameter and probably digital noise of the AI separation process. Mixxx don't know whether it can fade to the Stereo (ch1) or not. 

If we play the whole track it as 4 stems, we have four time CPU for pitch shifting and time stretching. 
It would be nice if we could do like UKW: 
Remove vocals = Stereo (ch1) - Vocals 

We can also even omit "Other" and safe some disk space.  

This allows to seamlessly play the lossless "Stereo (ch1)" after the transition is done. 

To make this work reliable we need to strictly not allow any mastering information. 
We may put it in the metadata in the opposite way NI does (if it is really required) 

**3. Normalization of Labels and channel layout.** 

NI Stems have some suggested stem names, but this is not reliable information we may use for Auto DJ. 
We have also no chance to show the Labels in user language (Translations)

This can be solved if we define some like Genres in ID3 tags a set of default labels with a specific content. 

Some controller even have pictograms on there buttons 








<img width="222" height="70" alt="Image" src="https://github.com/user-attachments/assets/ce92b29e-d5fe-4a43-acd1-09c5d387d4b7" />

<img width="308" height="79" alt="Image" src="https://github.com/user-attachments/assets/1cc5fc4c-8cb6-49a0-93e1-fb5a407afac7" />

<img width="100" height="100" alt="Image" src="https://github.com/user-attachments/assets/feca1655-4053-4739-bebd-bf665b05c7a0" />

@daschuer Thank you for your feedback, having feedback from someone who has so much experience with contributing to DJ software is greatly appreciated! Responses inline:

> There is the downside legendary visualized here: https://xkcd.com/927/ But we suffer it already with so many decoder and container formats.

Indeed! I picked an established container format for this reason (instead of defining a completely new "stems-only" format), but we still have the issue of having two separate formats for storing and releasing stems.

> we have the chance to not repeat the issues the NI Stems have

Also strongly agree! This is why I've been reaching out to various projects and forums that might have opinions on the matter and why I appreciate your feedback so much!

> It shall be a strict requirement that any channel has exactly the same number of samples and sample-rate.

While the current document does require the same bitrate and sample rate (with a "SHOULD" which is fairly strong language per RFC2119's definition while leaving the door open for edge cases where this may not be doable), I didn't require the same exact number of samples and instead opted to allow shorter tracks with a different start time. Would this be more difficult for software like Mixxx to implement or make it more difficult to keep tracks in sync? I assumed FFMPEG or whatever you're using for playback would make this effectively transparent to Mixxx, but if not I do think it's more important to make it easier to DJ reliably than to leave the door open for hypothetical edge cases, so we could definitely change this.

> Do you know how stereo signal is encoded in the UKW signal? It has two channels:

This isn't something I'd considered, but would solve a number of problems I had previously been working on! It will require a lot more thought and would make conversion between NI and this stem format more or less impossible, but it's a very interesting idea! Thank you!

> To make this work reliable we need to strictly not allow any mastering information.
> We may put it in the metadata in the opposite way NI does (if it is really required)

I had originally included some generic metadata for mastering and a note that producers could include metadata for specific DSPs, but as several DAW maintainers pointed out this was likely to be impossible to use in practice or not sound at all like the producer intended. I'm not convinced that having the mastering step actually provides any value (the DJ is going to be remixing this track anyways, so it's not going to sound like the final track either way), so I think it would make sense in this case to have a stronger prohibition against it.

> NI Stems have some suggested stem names, but this is not reliable information we may use for Auto DJ.
> We have also no chance to show the Labels in user language (Translations)

I had considered defining a new registry for this with specific metadata to indicate various common stem types. Since this wouldn't be a plain text string it would also let the names of the stem files be translateable by the playback software (instead of requiring that the translations be present in the stem file itself as is supported in the current draft). Maybe a hybrid approach could work of having a special tag that defines a value from a registry that DJ software can use to show icons, localized names, etc. but also have a special "Other" value that lets the software fall back to just using the "Name" tag.

Thanks again for your feedback, this has given me a lot to think about and a new draft to prepare! If you have any more you're welcome to ping me here, or if we don't want to spam the issue, there is a [forum post](https://mixxx.discourse.group/t/stem-files-using-an-open-format/33338) as well (or you can reach out to me directly).

If anyone else is interested in implementing this, even in its current form I'd love to be able to evolve the spec along with your work and figure out the best way to get something like this implemented in a format that can be used by Mixxx!

Oops, forgot this part:

> In some point we need to be more strict and not just "RECOMMENDED".

If you have specific places this needs to be changed other than the ones you mentioned, I'm generally happy to tighten things up. That said, "RECOMMENDED" is actually a very strict term in RFC2119 language, equivalent to "SHOULD". It leaves the door open for possible edge cases ("MUST" is a bit extreme most of the time) while still being very strict. From the RFC:

> 3. SHOULD   This word, or the adjective "RECOMMENDED", mean that there
>    may exist valid reasons in particular circumstances to ignore a
>    particular item, but the full implications must be understood and
>    carefully weighed before choosing a different course.

> If that is not desired we may add flags/properties that Mixxx can find out if it is a strict stem format or just a random container that is almost like a stem.

I think this is desirable either way and have it on my todo list to add an "AUDIO_TYPE=stem" tag or something along those lines as a quick way to detect if the file claims to be this specific format.

> I didn't require the same exact number of samples and instead opted to allow shorter tracks with a different start time. Would this be more difficult for software like Mixxx to implement or make it more difficult to keep tracks in sync?

Just on sample off, will cause an audible flanger effect.  While we can handle it it probably, we already suffer all sorts of syncing issue with different decoding formats right from the start or after seeking. So if you don't have real use cases for it we should not allow it. Also require the same codec would help. 
https://github.com/mixxxdj/mixxx/issues/14624 https://github.com/mixxxdj/mixxx/issues/11094  

> It will require a lot more thought and would make conversion between NI and this stem format more or less impossible

If this is an AI generated stem without mastering info it works probably already. If it is a NI stem with mastering information, you can apply the mastering to each track and use the sum of all stems as channel 0 and than it works as well.
But sure all points we want to have more strict introduce issues. Maybe we want support a 1:1 NI copy and a compatible and a strict mode. We just need a way to read that reliably, because Mixxx already support NI stems, it is no deal. 

> Maybe a hybrid approach could work of having a special tag that defines a value from a registry that DJ software can use to show icons, localized names, etc. but also have a special "Other" value that lets the software fall back to just using the "Name" tag.

From the UX side too much flexibility does not help. Think about the muscle memory of a DJ. They will probably hate if they need to learn new icons set for every track. A high level of standardization, even into the business logic of the separator tool is here a great chance for simplification and final UX improvements. 

I can think of a tree model, a rule for what to map to the hard labeled Serato style controllers above.    
    

> From the UX side too much flexibility does not help. Think about the muscle memory of a DJ. They will probably hate if they need to learn new icons set for every track. A high level of standardization, even into the business logic of the separator tool is here a great chance for simplification and final UX improvements.

Oh yes, I strongly agree, that is what I was proposing: a strict list of stem types. The problem is that this list can never be complete since different genres will require different types of stem. For example, for the type of music I mostly DJ a "Bass" stem wouldn't make much sense since almost none of it uses a bass. The NI recommendations are for most modern electronic music, but other genres won't have the same requirements. Having a text label that can be displayed instead (and possibly a generic icon) seems like it wouldn't add too much complexity. So I'm not suggesting different icons for every track, just that we have to have a text fallback I think for tracks that don't conform to the standard handful of icons.

> I'm not convinced that having the mastering step actually provides any value (the DJ is going to be remixing this track anyways, so it's not going to sound like the final track either way)

Its a compressor and limiter for the dynamics. The benefit to the DJ is that they dont have to adjust the gain, and they still get consistent volume of the stem track. Its so that the individual stem track maintains it's volume as it plays, and also so that one, two, or three stems are as-loud as the original full master, despite individually being quieter. If you dont have it, your fader-all-up vocal will need a boost to the gain knob as well to bring it all the way up to the other track you are mixing it with. It also might perhaps take care of pumping in the isolated stems; though I will need to find a good test track and compare the NI, Traktor-generated stems file running in Traktor (with their DSP) to Mixxx (with nothing) and see.

I'm not a core mixxx dev so maybe I am missing something... why would I not want the volume taken care of, as a DJ mixing stems? It's not currently taken care of in Mixxx, but that imo is a feature that should be waiting to be implemented.

>   When creating the file the stem tracks SHOULD NOT have any intra-stem
   gain normalization applied to bring the stems up to the same
   perceived volume.  Instead they should retain the same levels as they
   would have in the final mix present in the mixdown track so that if
   all stems were played at unity gain the overall level would be
   equivalent to the level of the final mix.
>   On playback, DJ software MAY choose to normalize the gain on any
   combination of stems currently being played to make it equivalent to
   the mixdown track or any other tracks being mixed in even if some
   stems are muted or have their individual gains adjusted.  However,
   the exact mixing behavior of DJ applications is outside the scope of
   this specification.
>    Because mastering happens post-mix and the stems are pre-mix audio
   the stem tracks SHOULD NOT have any mastering steps applied.  This
   means that a DJ playing the track using the stem tracks instead of
   the mixdown track will result in different audio from the final mix.
   This is deemed an acceptable trade off since the final sound of the
   DJs version of a track is likely to be significantly different from 
   what the original track producer had created either way.  Even
   without mastering this method still gives the producer more control
   over the final sound than if the DJ were to use an auto stem
   separation algorithm.

This ^ is what the DSP settings and processing of those settings in the DJ software does. 

>    Each stem track MUST set the value of the track Name element
   ([RFC9559], Section 5.1.4.1.18) to a short, human-meaningful, track
   name for the stem that describes its contents, for example
   "Percussion" or "Vocals".  These names are intended for display in
   playback applications and therefore should remain concise (generally
   no more than one word), but no specific format or length requirement
   is defined. 

Should the stem name cap at 20 characters or similar? By defining the max size, UIs can be designed around it.

The other part I'll build on is file naming for the compliant formats. NI stem format uses `<name>.stem.mp4`. Ideally the file name is distinct and fixed, so that DJs who gather stems files are not met with internal compatibility of the settings inside the files when they try to play them. If they have a file called `<name>.stem.mkv` or whatever is best (stem1 perhaps? then later stem2? Doesnt seem great but that kind of idea...), that should be the correct format (if they get it from a reputable source that complies with the standard... we cant control that but should specify in the standard).

> I'm not a core mixxx dev so maybe I am missing something... why would I not want the volume taken care of, as a DJ mixing stems? It's not currently taken care of in Mixxx, but that imo is a feature that should be waiting to be implemented.

If it can actually be done well you would want this, but as is I don't see how this can be done in a way that makes sense (see also the next comment). 

> This ^ is what the DSP settings and processing of those settings in the DJ software does.

Right now Mixxx doesn't have the stems DSP (even for Native Instruments stems) because, for the NI format, you have to license the proprietary DSP from them. We can't mandate a specific DSP in an open spec, so I've left that out of the spec for now (originally there was some generic DSP metadata, but this seems almost worthless since no two DSPs will be the same).

Right now I think the best we can do is just normalize the mix to whatever output level we've configured like normal tracks and call it a day.

> Should the stem name cap at 20 characters or similar? By defining the max size, UIs can be designed around it.

That seems like a sensible idea; I'll add something along those lines.

> The other part I'll build on is file naming for the compliant formats.

What would be the purpose of having a custom file extension? This seems a bit easy to change if it's just to detect if this is a stem file (I had planned on adding some metadata for that), or if it's just for the user to see I think that's fine, but I'm not sure that it belongs in the spec since it's not really any different from a regular file except that it has more tracks. Not against it, I just don't fully understand what the benefit would be.

Thanks for the help!

> 2. Diff compatibility
> 
> Do you know how stereo signal is encoded in the UKW signal? It has two channels: …

Trying to think through this and I think I may have misunderstood a tiny bit originally. I was thinking you were talking about using a matrix decoder like eg. Dolby Surround does, but per a conversation with some DAW folks it they don't think this would make sense for stems because there's not enough correlation between tracks. I realized though that in this case what you probably meant is storing the mix of all the stems, plus the inverse of every stem except one. From this you could swap between the mixed track for the common case of "all stems playing" which would be the single track you'd need to manipulate for pitch changes, and then if you wanted to mute eg. the vocals you'd simply pay the inverse track as well, canceling out the vocals (now you have two tracks to pitch shift and you're using 2x the CPU even though you have 3 stems playing, so still a savings). If you wanted to mute the track that was left out to save space you'd play every stem track except that one (or we could just assume space isn't a problem and always include the inverse of all four stems). This does seem far more complicated to encode (and DAWs that wanted to support this format would have to implement this export pipeline since it's more complicated than simply dumping the stems into a file), but it still makes sense to me.

We'd probably also still want to store the original track (with mastering and inter-stem effects and what not that can't be reproduced with the original stems) too for backwards compatibility with existing players, so we wouldn't really be saving any space, but I think it may still make sense in terms of saving CPU cycles.

We at Mixxx decided for NI STEMs format as our stem format. We should not add adittional formats, unless there is broad acceptance by other DJ software.
This would weaken the existng standard. Something that wouldn't be good for our users.

That's a reasonable position to take, but my push back is that the NI stems format isn't really a standard in any meaningful sense. You have to license the DSP from them and it doesn't use a legally tested license, it's not clear to me (though I'm not a lawyer) that they couldn't decide to go after their competitors later if they so desired for violating some minor term of the license. Even without the DSP, the formats required are all patent encumbered, making it less likely that producers can safely use them (though as I said, for playback in Mixxx this isn't an issue). I believe that as Mixxx is open source we also need a truly open format for stems as well. Out of curiosity, has any competitor to NI actually adopted their stem standard? I'm not sure that it has a chance, but I'd love to be proven wrong. With an open standard I believe there is at least a slight chance that some of the other DJ software makers could standardize around it, and I think it's reasonable for Mixxx to lead the way here just as much as anyone instead of only doing things the other manufacturers are already doing.

Mixxx has a clean room implementation of the NI STEMs format. We never signed any license agreement. Nobody can request us to follow it's license terms therefore.
There are no known (non-expired) patents on the NI STEM format, nor on the two codes used by it.
There are dozens of generators for NI STEMs files, but Traktor Pro and Mixxx are the only DJ software packages using it. The other common stem formats are less popular. The one from Engine OS might make sense for our Engine export and the one from the Serato is more of internal nature used for chaching only).

> Mixxx has a clean room implementation of the NI STEMs format. We never signed any license agreement. Nobody can request us to follow it's license terms therefore.

Right, Mixxx doesn't implement the DSP step, that's the only licensed part. If Mixxx ever did want to do so, you'd have to enter into a licensing agreement with NI.

>  There are no known (non-expired) patents on the NI STEM format, nor on the two codes used by it.

My understanding is that both MP4 and AAC are both patent encumbered. I am not a lawyer though and have no way to verify this, searching the internet seems to show that this is the case though.

> My understanding is that both MP4 and AAC are both patent encumbered. I am not a lawyer though and have no way to verify this, searching the internet seems to show that this is the case though.

These standards are more than 20 years old, how could be there a non-expired patent? Can you name a single patent that affects the NI STEM standard?


Like I said, I'm not a lawyer and I can't answer that, but the Licensing Alliance still exists and is still getting money for people using it (not likely a problem with Mixxx, it's about distribution not decoding). It's possible all of these are related to video, not the actual container, but I don't have a good way to verify this, and that's part of the problem with patent encumbered formats: you can never be sure, and even if you're almost positive that they're completely free there may be some country with a longer patent term (Brazil IIRC is where these groups normally go after people), or some other patent may have been granted later than the original creation date that they decide to start enforcing, etc.

Using formats that have been designed to be unpatent encumbered doesn't guarantee safety (you can always find out that someone had a patent that you didn't notice which covered part of the technology later), but at least someone has tried very hard to vet it and there's not a large industry group hell bent on making sure the patents stay in force for as long as possible.

You may be right and it's all fine, but I think there's value in having a format that's open (and the ability to use alternative audio formats) either way.

We publish/distribute the software on our download server. In general it's our duty to pay the patent fees. But here there is just not the case, as ther are no patents on these very old codecs/containers anymore.

Could you please first elaborates on Engine OS and Serato’s native formats before proposing something completely new and unknown?
At Mixxx, we make every attempt to support standards wherever possible so that our users can transfer their data if they decide to change platforms. Developing something completely incompatible that locks users into the Mixxx platform would not be in the spirit of our openness.

Note regarding format support in STEM. Mixxx actually allows a wider variety of codec, other than the default NI AAC, AACLC, or ALAC. For example all my converted library is in STEM OGG, and the main track uses the original codec (with original sample rate). I have tested with FLAC and Opus as well as part of my stemgen work and this works great in Mixxx.

1st: I like the idea of an open format and I like the mkv/mka container for video. It's a container with a lot of capacities eg different language audio tracks, settings for delay, general info, indexes,, text, subtitles  ...  and can be used for much more than what it's used for at the moment. Personally I only use it as an audio container for mostly multichannel HQ DVD & BR-audio,  it's supported by audacity, foobar does not support it by default (I can be wrong).
2nd: The viability af an 'open stem container' stands and falls with the available tools and practical use spread over and penetration in the market. The moment it get's embraced by producers to share their work in communities and when it gets picked up by eg soundcloud... then players / software will (have to) follow. 
But changing peoples habbits aint easy: it will need software to convert / create / edit ... when people need extra 'superfluous' steps in their workflow they'll abandone it.

But eg if the next album of U2 (or whoever) would be only available in a mka stem container it would get a rocket boost launch.

A possible 'niche' use would be for VJs that want to play with stems. (so when the included graphics are important)

> We publish/distribute the software on our download server. In general it's our duty to pay the patent fees. But here there is just not the case, as ther are no patents on these very old codecs/containers anymore.

The software isn't the part that's patented, you can write and distribute as many decoders as you want (many of them are licensed under proper open source licenses). You only have to pay licensing fees if you're distributing the files (more or less, it's a bit more complicated than that since some encoders such as Cisco pay huge sums to have license fees pre-paid for anyone using their specific encoder).

> Could you please first elaborates on Engine OS and Serato’s native formats before proposing something completely new and unknown?

I will look into these, when I was trying to look up the existing ecosystem I didn't find any information on either. If you have any links, I'd appreciate it.

> At Mixxx, we make every attempt to support standards wherever possible so that our users can transfer their data if they decide to change platforms. Developing something completely incompatible that locks users into the Mixxx platform would not be in the spirit of our openness.

This is great! That's why this is being developed as an open standard, I'm not asking Mixxx to support or make a proprietary format, or even merge support tomorrow if this isn't something that ever takes off.

> Note regarding format support in STEM. Mixxx actually allows a wider variety of codec, other than the default NI AAC, AACLC, or ALAC. For example all my converted library is in STEM OGG, and the main track uses the original codec (with original sample rate). I have tested with FLAC and Opus as well as part of my stemgen work and this works great in Mixxx.

That's interesting, I may start using that, thank you! It's too bad this only works for MP4 and Stems though! Even if the stem part of this proposal is never completed I have a ton of music in Ogg and/or Matroska format already that Mixxx can't load without me converting it first but it sounds like that would possibly work for MP4s! I'll experiment with this a bit; thanks for letting me know!

> The moment it get's embraced by producers to share their work in communities and when it gets picked up by eg soundcloud... then players / software will (have to) follow.
> But changing peoples habbits aint easy: it will need software to convert / create / edit ... when people need extra 'superfluous' steps in their workflow they'll abandone it.

Completely agree; I've also been talking to various DAWs and music trackers about the possibility of them having export support for this type of file. With the current draft import already works fine if they support MKA already, export requires minor modification. This is also why I've tried to keep it backwards compatible with existing media players (right now you can open it up in VLC for example and they'll play fine). I'd love to see a few parts of the Open Source audio ecosystem start using this all at once, and then hopefully the commercial side of things one day too.

> If we play the whole track it as 4 stems, we have four time CPU for pitch shifting and time stretching.

@daschuer I'm curious, is this how things work right now? Is there a reason we don't do the mix of the stem tracks, then pitch shift or time stretch the result, then do the final mix with the other decks? Is this a tradeoff between latency and CPU time maybe?

@tuulikauri I have never understood how the DSP part shall be effectively used. Maybe you can explain. 

I have an original Stem track from NI. 
* The first channel is normalized with EBU-R 128 and place fine. 
* The stems single stems play also fine with good dynamic and loudness 
* All four stems are clipping and do not sound harmonic as the first track 

We can't apply the DSP yet, because it is proprietary. That's an issue. Even if we do, what is the rule of use the DSP parameter when playing two or three stems? How does Traktor do it? The use case is mixing a transition with a second stem Track. How does this work when you play two stems form on track and two form another. Is the DSP applied for this or not and to what extend?   

AI generates stems are generated form the ready mastered track. The have a hard time to undo compression to create the original stem used in the production. Since they are more common (probably), DJs shall be used to the need to apply Gain. This means we have basically two version of a stem channel, the math correct part of the master and the original studio recording. Maybe in the open stem format, should add an option to have both? The studio stem is empty for AI generated stems and it can be populated form original NI stems when converting from them one with DSP one without. 

Does this make sense or it there any mixing magic applied in Traktor that we can't model with this? 




 



@SamWhited 
> storing the inverse track.

the inverse track is literally the original track "sample * -1" so nothing we need to store extra. 

Currently we process all stems separately pre-fader to allow pitch shifting and individual effects afterwards. We could theoretically already mix let's say karaoke track pre pitch shifter to have to process only one track. We have deliberate decided against this solution, because of the extra complexity, when it comes to caching and settling of the pitch shifter. Such chain will also destroy the math perfect matching of the tracks. 

From this perspective the only real use case it the seamless cross-fading from any stem mixing state to the first track after the transition to fee up CPU. This transition will require settling of the pitch shifter for the fist track as well, which temporally need to process five tracks. 

In apps without stem effects and pitch shifting, the math perfect thing might be relevant though.  



> Even if the stem part of this proposal is never completed I have a ton of music in Ogg and/or Matroska format already that Mixxx can't load without me converting it first but it sounds like that would possibly work for MP4s!

Implementing https://github.com/mixxxdj/mixxx/issues/16060 is not magic. Especially if you know a contributor with some insight knowledge of Matroska ;-) ...

> Implementing https://github.com/mixxxdj/mixxx/issues/16060 is not magic. Especially if you know a contributor with some insight knowledge of Matroska ;-) ...

I see what you're getting at, but I don't know anyone who knows both Matroska (or Ogg) and C++ :)

(I have tried to look into it, FWIW, but it's been a over a decade since I learned C++ and even then I hated it with a passion; I'm glad some folks like it though because you've all made some amazing software!)

> > We publish/distribute the software on our download server. In general it's our duty to pay the patent fees. But here there is just not the case, as ther are no patents on these very old codecs/containers anymore.
> 
> The software isn't the part that's patented, you can write and distribute as many decoders as you want (many of them are licensed under proper open source licenses). You only have to pay licensing fees if you're distributing the files (more or less, it's a bit more complicated than that since some encoders such as Cisco pay huge sums to have license fees pre-paid for anyone using their specific encoder).

For the codecs used in the NI STEM format (ALAC and AAC_256kbps_VBR) you neither need to pay patent nor license fees. We double checked this! Same applies for the MP4 container.

What would require a license is the DSP code (lmiter / compressor) from NI. But we can't use it anyway, as the GPL does no allow to link it.
A compatible specification of the limiter and compressor would be of great help. The only problem of the NI STEM format is that they have a reference implementation of the DSP code instead of specifying it's behaviour.


@SamWhited  Please remove the text about the patents on the NI STEM format in the issue description as this is clearly false!

All patents are expired as these codecs/containers are so old (AAC_256kbps_VBR standard was published 1998). And nothing is safer to use using than an expired patent, as it's documented that novelity is not given anymore.

From a license perspective there is no need to use other containers or codecs than in the NI format.

> as it's documented that novelity is not given anymore

Can you point me at where this is documented? I could of course be wrong about this, maybe the only remaining patents are about video and the container or audio codecs aren't important here.

Either way, I believe we need a truly open, well documented, stems format (that said, I don't necessarily expect Mixxx to implement it, I hope you don't think I'm trying to show up with a demand that the Mixxx community do extra work; but I want to understand the use cases for Mixxx either way).

 Patents last max 20 years from the filing date (in EU and US). The codec was published as: ISO/IEC 13818-3:**1998**-04 

That doesn't mean anything, patents can be filed after the codec was published, and other places hvae longer patent terms. Anyways, it's not worth focusing on this one part of the issue, even if the patents are definitely 100% safe I would prefer to have an open format and will continue developing one. This is only relevant if it's the only reason Mixxx would consider implementing it or not, and we're pretty far from that even being a possibility at this point, so it doesn't seem worth arguing about unless one of us can find a lawyer who can actually help say this is true one way or the other.

No, they can't as novelity is one of the must criteria for a patent. If there is a published standard the opposite is proven.

@SamWhited 
It's still important that there are not statements on official Mixxx platforms claiming patent infringement... These must be removed or disputed. So the only thing that needs to be done is removing statements like Joerg advised; and then the open-format can be pursued without issue. Sam you have to edit messages yourself - otherwise I guess the only way to remove the "Why not use NI Format?" section and other comments incorrectly claiming patent infringement is admins nuking the whole thread...

I am sure the various open-source projects and guidance referenced by the team, and the research by the Mixxx team, have been done correctly in this respect.

> What would be the purpose of having a custom file extension?

Just for users to use. It allows the same file names for the source track and the stems track differing by extension only; so you can have all files in the same folder, sort by file name and see pairs of source / stems tracks. You could also link these tracks automatically in the database on file-name. And provides confidence / limits confusion about what is or isnt compatible stems-format files. For the average user, if they have an .mp3 file they expect all mp3 file players to work. Similarly they would have a .stems1.mkv file and would know what it is and expect it to work. This increases reliability of the standard. This is even more important when using .mkv because it will show as a video file by default...


> Right now I think the best we can do is just normalize the mix to whatever output level we've configured like normal tracks and call it a day.

I see your point. Rather than having the dynamics processing being unecessary, it's rather the customization that you are thinking is not necessary, ie. the parameters to support these custom settings in the file, from track to track. I'm not too sure how much different the settings would be from track to track in practice for stems. In commercial mastering there are substantial differences across genres and songs. Applying a compressor that works dynamically will substantially improve the sound over just a single applied normalization value though. I would imagine the producers that NI consulted with about their needs expressed this and wanted the tools to influence the settings on their stemmed songs, before they agreed to provide their stems in this format.


@daschuer 
> * All four stems are clipping and do not sound harmonic as the first track

The clipping should be eliminated with a compressor, there are open-source options. The non-harmonic sounds I'm not too sure where that's coming from.. is it a track in NI's example stems tracks I could look at?
["65 STEMS TRACKS"](https://www.native-instruments.com/en/specials/stems-for-all/) My best guess is there's some phase cancellation happening when the stems are mixed, but I can investigate further.



> what is the rule of use the DSP parameter when playing two or three stems? How does Traktor do it?

Well we'll have to see what sounds good in the settings for our compressor, or use the provided license for NI's DSP. I'm not sure if that is possible in GPL2 software to use and distribute a licensed binary? Ah it looks like Joerg just answered this part... as no, we cannot use NI's DSP. NI's terms are [here](https://www.stems-music.com/sdkagreement/).


> It's still important that there are not statements on official Mixxx platforms claiming patent infringement

Nothing in this thread claims patent infringement, that's not in dispute here, nor am I suggesting that whatever research was done by the Mixxx team was incomplete or at fault.

> Just for users to use. It allows the same file names for the source track and the stems track differing by extension only; so you can have all files in the same folder, sort by file name and see pairs of source / stems tracks. You could also link these tracks automatically in the database on file-name. And provides confidence / limits confusion about what is or isnt compatible stems-format files. For the average user, if they have an .mp3 file they expect all mp3 file players to work. Similarly they would have a .stems1.mkv file and would know what it is and expect it to work. This increases reliability of the standard. This is even more important when using .mkv because it will show as a video file by default...

That makes sense, but shouldn't be an issue here thankfully. These are `.mka` files, not `.mkv` files so they're already distinguishable as audio, and the original track is still included as the default track so it's completely transparent to media players (ie. you don't need two, you can just keep the stem file since it contains the original track as well). But I can see the argument for "it just makes it easier to see, might as well".

> The clipping should be eliminated with a compressor, there are open-source options

This would be ideal, but I don't know if it's practical to require a specific compressor in an open standard (even if it's open-source), and with the NI stems format, using a different open-source compressor will likely sound significantly different from the NI one, unfortunately.

> I'm not sure if that is possible in GPL2 software to use and distribute a licensed binary? 

Not a lawyer, but I can say with 99.99% confidence that this is not GPL compatible.

**EDIT:** doesn't really matter because it's the same answer (that it's not GPL compatible) either way, but just FYI the linked license is for the SDK, IIRC the DSP has a separate license but you have to agree and download the SDK to get it.

> The one from Engine OS might make sense for our Engine export and the one from the Serato is more of internal nature used for chaching only).

@JoergAtGithub Do you happen to have a link to where either of these are documented? As far as I can tell you're correct about the Serato one being for their caching only and not documented (but if someone has reverse engineered it, or someone else can send me a few files that I can experiment with I would still love to know), and I can't find any information about the Engine OS one at all except a few sites that seem to suggest it just stores MP3s for each stem somewhere.

Thanks so much for the feedback all; I've pushed a new version to the link in the original post with some of @daschuer's feedback addressed (in particular it adds an optional tag for registering the type of stem and a registry with a few arbitrary values; the name tag is still present so you can put a name in the file with translations, but DJ software could override it based on the type to use its own local translations. Hopefully this addresses that issue. I'm still digging into the suggestion for storing a pre-mixed version of the track as well, but that will take more time as I'm on 100% sure about the benefits yet. Thanks all!

> The non-harmonic sounds

This is just that hear that the original track sound more "pleasant" compared to the four stems mixed together. There is no phase cancellation that I am aware of. 

I've uploaded a new version of the document (https://datatracker.ietf.org/doc/draft-swhited-mka-stems/) that won't affect Mixxx much, but adds support for distinguishing between stems meant for DAW export / import or multi-track recorders (ie. single tracks) and stems meant for DJing (a mix of multiple other stems). This probably won't affect anything from the Mixxx side, it just makes it easier to have multi-track files and let Mixxx distinguish which ones it actually needs to display in the UI.